
<div class="main-body">
    <div class="my-desc">
        <div class="about-title">
            <app-livetext [string]="string" class="about-title"></app-livetext>
        </div>
        <div [ngClass]="{'dark-color-bg': !darkMode}" class="decorator"></div>
        <!-- <p class="about-body">Hey, my name is Akshit Sharma. I am a full stack software developer with extensive background in JS and JS frameworks.
            I am also passionate about different cultures and written media. I like to listen to music when I code and I am always passionate about new technologies that I can use to improve.
        </p> -->
        <p class="about-body">Hey, Welcome to my profile. This page serves as a showcase of my diverse skillset and proficiency in various programming languages. I am passionate about leveraging cutting-edge technologies to develop innovative solutions. If you have any inquiries or would like to collaborate with me, please feel free to reach out. I look forward to connecting with you.
        </p>
    </div>
    <div class="text-sphere">
        <span id="tagCloud"></span>
    </div>
</div>

    
