
<div class="main-body">
    <div class="my-desc">
        <div class="about-title">
            <app-livetext [string]="string" class="about-title"></app-livetext>
        </div>
        <div [ngClass]="{'dark-color-bg': !darkMode}" class="decorator"></div>
        <p class="about-body">I am an aspiring computer software developer.
            I'm currently pursuing my Master's from Memorial University of Newfoundland, Canada.
            I have previously worked as a software developer intern three times with a PPO given to me two times.
            I've worked on projects with the Indian Government and UNICEF and have made significant contribution to these which are still being used.
            I'm proficient in multiple programming languages but my speciality lies in 
            <span [ngClass]="{'dark-color': !darkMode, 'light-color' : darkMode}" class="body-emphasis">Angular, NodeJs and Firebase</span> 
            . Furthermore, I've done research on <span [ngClass]="{'dark-color': !darkMode, 'light-color' : darkMode}" class="body-emphasis">human eye colour blindness</span> and have worked on ways to make existing media have shifting colour specturm 
            so that people with colour blindness can see fine details clearly.
            I would like to thank you for visiting my profile. 
        </p>
    </div>
</div>

    
