<div class="main-body">
    <div class="about-title">
        <app-livetext [string]="string" class="about-title"></app-livetext>
    </div>
    <div class="decorator"></div>
    <mat-accordion>
        <mat-expansion-panel #mep="matExpansionPanel" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" [expanded]="panelOpenState === true">
        <mat-expansion-panel-header>
            <mat-panel-title class="menu-desc">Local Storage Form</mat-panel-title>
        </mat-expansion-panel-header>
            <form [formGroup]="formGroup">
                <div class="toggle">
                    <mat-slide-toggle formControlName="enableLocalStore" (change) = "enableLocal()">
                        Local Storage
                    </mat-slide-toggle>
                    <button mat-button (click) = "clearStorage()">
                        Clear Storage
                    </button>
                </div>
                <div>
                    <button mat-button (click) = "addControl=!addControl">
                        Add control
                    </button>
                    <ng-template [ngIf]="addControl">
                        <form [formGroup]="addControlGroup">
                            <!-- <mat-form-field> -->
                                <!-- <mat-label>Type</mat-label>
                                <mat-select formControlName="type">
                                  <mat-option *ngFor="let type of types" [value]="type.type">
                                    {{type.viewType}}
                                  </mat-option>
                                </mat-select> -->
                                <mat-chip-list multiple formControlName="type">
                                    <mat-chip #chip="matChip" *ngFor="let type of types" [selected]="type.state" (selectionChange)="changeSelected($event,type)" [value]="type.type" (click)="type.state ? chip.deselect() : chip.selectViaInteraction()">
                                        {{type.viewType}}
                                      </mat-chip>
                                </mat-chip-list>
                            <!-- </mat-form-field> -->
                            <ng-template [ngIf]="checkEnable('input')">
                                <mat-form-field>
                                    <mat-label>Label</mat-label>
                                    <input matInput formControlName="label">
                                </mat-form-field>
                            </ng-template>
                            <ng-template #elseBlock></ng-template>
                            <button (click)="onAddControl()">add</button>
                        </form>
                    </ng-template>
                </div>
                <div class="mainForm">
                    <mat-form-field *ngFor="let inp of input">
                        <mat-label>{{inp.label}}</mat-label>
                            <input matInput [formControlName]="inp.name">
                            <ng-template [ngIf]="addControl&&checkName(inp.name)">
                                <button mat-button (click)="remControl(inp)"><mat-icon>remove_circle_outline</mat-icon></button>
                            </ng-template>
                    </mat-form-field>
                    <!-- <mat-form-field *ngFor="let inp of input">
                        <mat-label>{{inp.label}}</mat-label>
                            <input matInput [formControlName]="inp.name">
                    </mat-form-field> -->
                    <button mat-button (click)="onSubmit()">Sumbit</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
