

:host{
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sidenav-container {
    /* width: 29vw; */
    width: 45%;
    /* height: 26vh; */
    align-content: center;
    /* background-color: none; */
    background: none;
    overflow: hidden;
}
.visit-button{
  background-color: #FF9F55;
  border-radius: 50%;
  width: 25px;
  height: 64px;
  position: absolute;
  right: -30px;
  top: -30px;
}

.visit-button::before{
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0px;
  left: 0px;
  background-color: white;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse-black 2s infinite;
  z-index: -1 !important; 
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.lan-img{
    margin: auto;
    align-self: center;
    max-height: 200px;
    background: none;

}
.decorator-dark{
  width:170px;
  height:13px;
  // background-color: #d9d9d9;
  background-color: white;
  align-self: center;
  margin: auto;
  margin-bottom: 6px;
  transition: transform 150ms;
}
.decorator-light{
  width:170px;
  height:13px;
  background-color: #0100c8;
  align-self: center;
  margin: auto;
  margin-bottom: 6px;
  transition: transform 150ms;
}
.main-body{
    // padding-left: 50px;
    margin: auto;
    // padding-right: 50px;
    z-index: 50;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidenav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.lanDesc{
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    // color: #000;
    padding-right: 18px;
}

.card{
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    display: flex;
    margin: 15px !important;
}

.img-set{
    align-content: center;
    justify-content: center;
}

.about-body{
    font-family: Noto Sans;
    font-size:22.5px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.95;
    letter-spacing: normal;
    text-align: center;
    // color: #000;
}

.hamburger{
    align-self: flex-end;
    margin-left: auto;
}

.new{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: none;
}

.projects{
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    // flex-wrap: wrap;
    padding-top: 47px;
}

.project{
    margin: 5px;
    width: 45%;
}
.gradient{
    height: 100%;
    width:20px;
    background: linear-gradient(to bottom right, grey, white)
}

.about-title{
    font-family: Noto Sans;
    font-size: 60px;
    // font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    color: white;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    // color: #000;
    margin: 0px;
    margin-bottom: 20px;
}

.shadow{
  box-shadow: 0px 2px 2px, 0px -2px 2px , 2px 0px 2px , -2px 0px 2px !important;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.pro{
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
}

#wrapper{
    aspect-ratio: 1.618;
    width: 82.5vmin;
    position: relative;
}
#wrapper > .shape{
    height: 30%;
    width: 30%;
    background-color: rgba(255 255 255/ 5%);
    position: absolute;
    overflow: hidden;
    transition: left, top, height,width, border-radius, z-index;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

#wrapper>.shape:hover{
  box-shadow: 0px 0px 10px white;
}

// #wrapper> .shape:nth-child(1){
//     background-color: #0466c8;
//     border: 2px;
//     z-index: 2 ;
// }
// #wrapper> .shape:nth-child(2){
//     background-color: #0353a4;
//     border: 2px;
//     z-index: 2 ;
// }
// #wrapper> .shape:nth-child(3){
//     background-color: #023e7d;
//     border: 2px;
//     z-index: 2 ;
// }
// #wrapper> .shape:nth-child(4){
//     background-color: #002855;
//     border: 2px;
//     z-index: 2 ;
// }
// #wrapper> .shape:nth-child(5){
//     background-color: #001845;
//     border: 2px;
//     z-index: 2 ;
// }
// #wrapper> .shape:nth-child(6){
//     background-color: #001233;
//     border: 2px;
//     z-index: 2 ;
// }
#wrapper> .shape:nth-child(1){
  background-color: #232323 ;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape:nth-child(2){
  background-color: #30527A ;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape:nth-child(3){
  background-color: #5982A1 ;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape:nth-child(4){
  background-color: #8DBED5 ;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape:nth-child(5){
  background-color: #FF6B6B ;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape:nth-child(6){
  background-color: #FFC55B ;
  border: 2px;
  z-index: 2 ;
}
// #wrapper> .shape:nth-child(1){
//   background-color: #232323 ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(2){
//   background-color: #3A3A3A  ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(3){
//   background-color: #595959  ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(4){
//   background-color: #8B8B8B  ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(5){
//   background-color: #BEBEBE  ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(6){
//   background-color: #FFFFFF  ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(1){
//   background-color: #232323 ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(2){
//   background-color: #5E3C23   ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(3){
//   background-color: #7D593B   ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(4){
//   background-color: #A3846E   ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(5){
//   background-color: #C76D2D   ;
//   border: 2px;
//   z-index: 2 ;
// }
// #wrapper> .shape:nth-child(6){
//   background-color: #E6B33D   ;
//   border: 2px;
//   z-index: 2 ;
// }


#wrapper> .shape.light:nth-child(1){
  background-color: #0100C8;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape.light:nth-child(2){
  background-color: #0058FF;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape.light:nth-child(3){
  background-color: #0083FF;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape.light:nth-child(4){
  background-color: #00A5FF;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape.light:nth-child(5){
  background-color: #00C4E5;
  border: 2px;
  z-index: 2 ;
}
#wrapper> .shape.light:nth-child(6){
  background-color: #00E1B2;
  border: 2px;
  z-index: 2 ;
}



#wrapper[data-roundness="1"]>.shape{
    border-radius: 6rem;
}
#wrapper[data-configuration="1"] > .shape:nth-child(1) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(2) {  
    left: 20%;
    top: 0%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(4) {  
    left: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(5) {  
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(6) {  
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
  }

#wrapper[data-roundness="2"]>.shape{
    border-radius: 0rem;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(2) {  
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 25%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(4) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(5) {  
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(6) {  
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
  }

#wrapper[data-roundness="3"] > .shape {  
    border-radius: 30rem;
  }
#wrapper[data-configuration="3"] > .shape:nth-child(1) {
    left: 0%;
    top: 16.5%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(2) {  
    left: 20%;
    top: 2.7%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(3) {  
    left: 38%;
    top: 0%;
    height: 100%;
    width: 62%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(4) {  
    left: 0%;
    top: 47.3%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(5) {   
    left: 34%;
    top: 56.4%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(6) {  
    left: 66%;
    top: 45%;
    height: 55%;
    width: 34%;
  }

#wrapper[data-roundness="4"]>.shape:nth-child(1){
    border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"]>.shape:nth-child(3){
    border-top-right-radius: 12rem;
}
#wrapper[data-roundness="4"]>.shape:nth-child(4){
    border-bottom-right-radius: 10rem;
}
#wrapper[data-roundness="4"]>.shape:nth-child(6){
    border-top-left-radius: 10rem;
}

#wrapper>.shape:nth-child(n).full:hover::after{
  visibility: hidden;
  opacity: 0;
}

.hoverText{
  font-family: "Nunito";
  width: 100%;
  height: 99%;
  color: white;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 400px;
  overflow: hidden;
  border-radius: 35%;
}

.textHover{
  margin-left: 116%;
    margin-top: 35%;
}

// #wrapper[data-configuration="1"]>.shape:nth-child(1):hover::after{
//   content: "M";
//   overflow: hidden;
//   font-size: 500px;
//   color: white;
//   font-weight: 800;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: -25%;
//   left: 15%;
//   width: 16vw;
//   height: 31.5vh;
//   max-width: 185px;
//   font-family: "Nunito";
//   border-bottom-right-radius: 46%;
//   opacity: 1;
//   border-bottom-left-radius: 30%;
//   transition: opacity 1.5s ease-out;

// }

// #wrapper[data-configuration="1"]>.shape:nth-child(2):hover::after{
//   content: 'W';
//   overflow: hidden;
//   font-size: 194px;
//   // color: black;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 12%;
//   left: 16%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="1"]>.shape:nth-child(3):hover::after{
//   content: 'T';
//   overflow: hidden;
//   font-size: 194px;
//   color: wheat;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 5%;
//   left: 16%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="1"]>.shape:nth-child(4):hover::after{
//   content: 'P';
//   overflow: hidden;
//   font-size: 194px;
//   color: wheat;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 33%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="1"]>.shape:nth-child(5):hover::after{
//   content: 'B';
//   overflow: hidden;
//   font-size: 194px;
//   color: darkblue;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 18%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="1"]>.shape:nth-child(6):hover::after{
//   content: 'S';
//   overflow: hidden;
//   font-size: 194px;
//   color: lightcyan;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 33%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }


// #wrapper[data-configuration="2"]>.shape:nth-child(1):hover::after{
//   content: "M";
//   overflow: hidden;
//   font-size: 194px;
//   color: black;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 12%;
//   left: 4%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;

// }

// #wrapper[data-configuration="2"]>.shape:nth-child(2):hover::after{
//   content: 'W';
//   overflow: hidden;
//   font-size: 194px;
//   // color: black;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 12%;
//   left: 16%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="2"]>.shape:nth-child(3):hover::after{
//   content: 'T';
//   overflow: hidden;
//   font-size: 194px;
//   color: wheat;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 5%;
//   left: 16%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="2"]>.shape:nth-child(4):hover::after{
//   content: 'P';
//   overflow: hidden;
//   font-size: 194px;
//   color: wheat;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 33%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="2"]>.shape:nth-child(5):hover::after{
//   content: 'B';
//   overflow: hidden;
//   font-size: 194px;
//   color: darkblue;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 18%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }

// #wrapper[data-configuration="2"]>.shape:nth-child(6):hover::after{
//   content: 'S';
//   overflow: hidden;
//   font-size: 194px;
//   color: lightcyan;
//   font-weight: bolder;
//   align-self: center;
//   position: absolute;
//   justify-self: center;
//   top: 15%;
//   left: 33%;
//   font-family: auto;
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }




.full{
  height: 100% !important;
  width: 100% !important;
  top: 0% !important;
  left: 0% !important;
  z-index: 5 !important;
  border-radius: 0 !important;
}

.content{
    padding-top: 20px;
    display: flex;
}

.data{
  display: flex;
  flex-direction: row;
  transition: ease-in-out 2ms;
  margin: 3%;
  height: 90%;
  width: auto;
}
.divider{
  width: 1px;
  background-color: black;
  border: none;
  border-right: 1px dashed;
  align-self: center;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.data-heading{
  font-family: Noto Sans;
  font-size: clamp(1.6em, 2.5vw, 3.5em);;
  font-weight: bolder;
  // text-decoration-color: black;
  // color: black;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.data-desc{
  font-family: Noto Sans;
  font-size: clamp(1.25em, 1.25vw, 1.5em);
  // color: black;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 15px;
  font-weight: 300;

  overflow-y: auto;
}


.image {
  width: 100%;
  max-width: 17vw;
  border-radius: 2rem;
  align-self: flex-start;
  object-fit: scale-down;
  margin: auto;
  background-color: white;
  border: 5px solid lightgrey;
}

.desc-body{
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.u-list{
  text-align: left;
  line-height: 2;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .data-desc{
    font-size: clamp(0.8em, 1.25vw, 1.5em);
  }
}