<div id="heightProp" class="main_body mat-app-background">
    <app-header class="header mat-app-background"></app-header>
    <!-- <div [@routeAnimations]="getRouteAnimationData()"> -->
        <div id="animProp" class="background_image">
            <div *ngFor="let i of counter(50); let in = index" style="position:absolute" [ngStyle]="{'margin-top': firstRun && getValTop(in), 'margin-left' : firstRun && getValLeft(in)}" class="stars">
                #
            </div>
            <div *ngIf="darkMode" class="stars2">
            </div>
            <div *ngIf="darkMode" class="stars3">
            </div>
    </div>
    <div class="app-content" #container onscroll="onScroll($event)" >
        <app-home-page id='home' class="main mat-app-background"></app-home-page>
        <app-about id="about" class="main mat-app-background"></app-about>
        <app-experience id="experience" class="main mat-app-background main-journey"></app-experience>
        <app-languages id="language" class="main mat-app-background"></app-languages>
        <app-projects id="project" class="main mat-app-background"></app-projects>
    </div>
    <app-footer class="footer mat-app-background"></app-footer>
</div>

