<body >
    <div class="footer">
        <div class="footer-content">
            <div class="icon-set">
                <a class="link-icon" target="_blank" href="https://www.linkedin.com/in/akshit-sharma-56b615192/"><mat-icon svgIcon="linkdin" class="iconPara icon-color-dark" [ngClass]="{'icon-color-light':darkMode}" aria-hidden="false"></mat-icon></a>
                <a class="link-icon" target="_blank" href="https://github.com/akshitsharma6178"><mat-icon svgIcon="github" [ngClass]="{'icon-color-light':darkMode}" class="iconPara icon-color-dark" aria-hidden="false"></mat-icon></a>
                <a class="link-icon" target="_blank" href="https://leetcode.com/akshitsharma6178/"><mat-icon svgIcon="leetcode" [ngClass]="{'icon-color-light':darkMode}" class="iconPara icon-color-dark" aria-hidden="false"></mat-icon></a>
                <a class="link-icon" (click)="changeMode()"><mat-icon [ngClass]="{'icon-color-light':darkMode}" class="icon-color-dark">opacity</mat-icon></a>
            </div>
            <a class="email icon-color-dark" [ngClass]="{'icon-color-light':darkMode}" href="mailto:akshitsharma6178@gmail.com">akshitsharma6178@gmail.com</a>
            
        </div>
    </div>
</body>
