
<div class="main-body">
    <div id="title" class="about-title">
        <app-livetext [string]="string" class="about-title"></app-livetext>
    </div>
    <div id="dec" [ngClass]="{'decorator-dark': darkMode, 'decorator-light': !darkMode}"></div>
    <div class="timeline-cont">
        <div id="tl" [ngClass]="{'timeline-dark': darkMode, 'timeline-light': !darkMode}">
            <div *ngFor="let i of experienceCards; let y = index" (click)="handleClick(y+1)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="{{y+1}}" class="descCard-block" [ngClass]="{'down': y % 2 == 0, 'up': y % 2 != 0 }">
                    <img class="image-down" src="../../../assets/images/{{i}}.png" alt="">
                    <div class="down-text">
                        <span *ngFor="let z of expData[i]">{{z}}</span>
                    </div>
                </mat-card>
            </div>
            <!-- <div (click)="handleClick(1)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="1" class="descCard-block down">
                    <img class="image-down" src="../../../assets/images/ggsipu.png" alt="">
                    <br>
                    <div class="down-text">
                        <span>Started Bachelor's at GGSIPU.</span><br>
                        <span>HP Education PHP Certification.</span><br>
                    </div>
                </mat-card>
            </div> -->
            <!-- <div (click)="handleClick(2)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="2" class="descCard-block up">
                    <img class="image" src="../../../assets/images/certification.png" alt="">
                    <div class="down-text">
                        <span>Finland Certification in Android with JAVA.</span><br>
                        <span>Microsoft Kodding Python Certification.</span><br>
                    </div>
                </mat-card>
            </div> -->
            <!-- <div (click)="handleClick(3)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="3" class="descCard-block down">
                    <img *ngIf="darkMode" class="image-down" src="../../../assets/images/uptodown-dark.png" alt="">
                    <img *ngIf="!darkMode" class="image-down" src="../../../assets/images/uptodown-light.png" alt="">
                    <div class="down-text">
                        <span>Freelance/ Intership at Uptodown.</span><br>
                        <span>Microsoft Kodding Python with ML Certification.</span><br>
                        <span>Bolt IoT Certification.</span><br>
                    </div>
                </mat-card>
            </div> -->
            <div (click)="handleClick(6)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="6" class="descCard-block up">
                    <div class="columns">
                        <div class="col1">
                            <img *ngIf="darkMode" class="image2" src="../../../assets/images/ndmc-dark.png" alt="">
                            <img *ngIf="!darkMode" class="image2" src="../../../assets/images/ndmc-light.png" alt="">  
                            <div class="down-text">
                                <span>Software Maintaince Trainee at NDMC.</span>
                            </div>   
                        </div>
                        <div class="divider"></div>
                        <div class="col1">
                            <img *ngIf="darkMode" class="image2" src="../../../assets/images/alfred-dark.png" alt="">
                            <img *ngIf="!darkMode" class="image2" src="../../../assets/images/alfred-light.png" alt="">        
                            <div class="down-text col_text_fix">
                                <span>Full-Stack Developer Alfred Technologies.</span>
                            </div>

                        </div>
                    </div>
                </mat-card>
            </div>
            <!-- <div (click)="handleClick(5)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="5" class="descCard-block down">
                    <img *ngIf="darkMode" class="image-down" src="../../../assets/images/avalon-dark.png" alt="">
                    <img *ngIf="!darkMode" class="image-down" src="../../../assets/images/avalon-light.png" alt="">
                    <div class="down-text">
                        <span>Full-Stack Software Developer Trainee.</span>
                    </div>
                </mat-card>
            </div> -->
            <!-- <div (click)="handleClick(6)" [ngClass]="{'descCard-dark': darkMode, 'descCard-light': !darkMode}">
                <mat-card id="6" class="descCard-block up">
                    <img class="image" src="../../../assets/images/mun.jpg" alt="">
                    <br>
                    <div class="down-text">
                        <span> Completed Bachelors</span><br>
                        <span> Started Pursuing Master's In Applied Science</span><br>
                    </div>
                </mat-card>
            </div> -->
    </div>
    </div>
</div>

    
