<div class="main-body">
    <div class="about-title">
        <app-livetext [string]="string" class="about-title"></app-livetext>
    </div>
    <div class="decorator"></div>
    <div class="qualifications">
        <div class="qua-box">
            <div class="qua-img">
                <img class="smu" src="../../../assets/images/ggsipu.png" alt="">
            </div>
            <div class="qua-title">
                <span>Undergraduate</span>
            </div>
            <div class="qua-desc">
                <span>2016.08 ~ 2020.12</span>
            </div>
            <div class="qua-points">
                <ul>
                    <li>Bachelor of Technology in Computer Science</li>
                </ul>
            </div>
        </div>
        <div class="qua-box">
            <div class="qua-img">
                <img class="mun" src="../../../assets/images/mun.jpg" alt="">
            </div>
            <div class="qua-title">
                <span>Graduate Student</span>
            </div>
            <div class="qua-desc">
                <span>2022.01 ~ 2023.04</span>
            </div>
            <div class="qua-points">
                <ul>
                    <li>Masters in Applied Science Computer Engineering</li>
                </ul>
            </div>
        </div>   
    </div>
</div>